.DS_Store
__pycache__/
*.pyc
.pytest_cache/
.venv/

conker/data/datasets/*
!conker/data/datasets/.gitkeep
conker/data/tokenizers/*
!conker/data/tokenizers/.gitkeep

conker/out/*
!conker/out/README.md

conker/submissions/*
!conker/submissions/README.md

*.npz
*.ptz
*.bin
*.log
